body {
  margin: 0;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: #182542;
  color: #fff;
}

header h1 {
  margin: 0 50px;
  line-height: 60px;
}